@import 'typography';
@import 'icons';

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: 'BYUI Open Sans';
}

.site-banner {
  background-color: $byui-blue;
  padding: 20px;
  margin: -10px;
  margin-bottom: 10px;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1,
  [role="search"] {
    display: none;
  }

  // Make all icons white
  [class^='icon-'] {
    color: white;
  }

  &__left {
    a>span {
      width: 200px;
      background-color: black;
      padding: 25px;
    }
  }

  &__right {
    justify-content: flex-end;
  }
}

.interests {
  .interest {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px); // Margins

    margin: 25px 10px;

    &__image {
      width: 100%;
    }

    &__link {
      color: $link-blue;
      padding: 10px;
      margin-top: -1px;
      z-index: -1;
      border: 1px solid $dark-gray;
    }

    &--hero {

      &__link {
        display: none;
      }
    }
  }
}

.resources,
.information,
.university-message {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  &__title {
    margin: 0px;
    background-color: $dark-gray;
    color: white;
    padding: 5px;

  }

  &__link {
    background-color: $light-gray;
    list-style-type: none;
    border: 1px solid $dark-gray;
    border-top: none;
    padding: 5px;
    color: $byui-blue;
    text-decoration: none;
  }
}

.calendar {
  width: 400px;
  display: grid;
  grid-template-rows: 3em 1fr;
  grid-template-areas: "title title title" "date desc desc";
  border-bottom: solid 1px $light-gray;

  &__title {
    margin: 0px;
    background-color: $byui-blue;
    color: white;
    padding: 5px;
    grid-area: title;
  }

  &__date {
    text-decoration: none;
    text-decoration: bold;
    color: black;

    &__title {
      grid-area: date;
    }

    &__desc {
      grid-area: desc;
      padding: 10px;
      margin: 10px;
    }

  }
}

.newsroom {

  &__article {
    border-top: 1px solid $light-gray;
    padding: 5px;
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "img date" "img title" "img desc";

    &__image {
      width: 150px;
      padding: 5px;
      grid-area: img;

    }

    &__date,
    &__title,
    &__blurb {
      padding: 0px;
      margin: 5px;
    }

    &__date {
      grid-area: date;
      font-style: italic;
    }

    &__title {
      grid-area: title;
      color: $byui-blue;
    }

    &__blurb {
      grid-area: desc;
      margin-top: 0px;
    }
  }

  &__button {
    border: none;
    color: white;
    background-color: $byui-blue;
    border-radius: 2px;
    padding: 10px;
    margin-left: 85%;
  }

}

.footer {
  display: flex;
  justify-content: center;
}

/* Desktop size */
@media (min-width: 800px) {

  .resources,
  .information,
  .university-message,
  .calendar {
    width: 100%;
  }

  main {
    display: grid;
    grid-template-areas: "hero hero info"
      "hero hero links"
      "hero hero dates"
      "newsroom newsroom message";
    grid-gap: 15px;
  }

  .interests {
    grid-area: hero;

    &__carousel {
      display: flex;
      flex-direction: row;
    }

    .interest {
      width: calc(100% / 3.0);
    }
  }

  .information {
    grid-area: info;
  }

  .resources {
    grid-area: links;
  }

  .calendar {
    grid-area: dates;
  }

  .university-message {
    grid-area: message;
  }

  .newsroom {
    grid-area: newsroom;
  }
}