/* Variables specific to Wordle page */
:root {
    --color-correct: rgb(156, 255, 156);
    --color-wrong-location: rgb(255, 255, 141);
    --color-incorrect: rgb(255, 106, 106);
    --width-board: 300px;
}

body {
	background-color: var(--color-secondary);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0; /* Margin has affects outsdie the body, use padding instead*/
}

header {
	background-color: var(--color-accent);
    padding: 10px;
}

main {
	background-color: var(--color-secondary);
	padding: 10px;
}

button {
	width: 25px;
	height: 25px;
}

input {
	text-align: center;
	border: 3px solid var(--color-accent);
}

#restart {
	width: 100px;
}

 #restart-random {
	 width: 100px;
	 height: 50px;
 }

#guess {
	width: 100px;
	background-color: var(--color-primary);
	color: var(--color-text);
	border: none;
}

#guess.valid {
	background-color: var(--color-correct);
}

#tries {
    width: var(--width-board);
    margin-bottom: var(--margin-small);
}

.try {
	display: flex;
	flex-direction: row;

	height: 55px;

	background-color: var(--color-accent);
	border: solid var(--color-text) 1px;

	margin-bottom: -1px;
}

.letter {
	width: 50px;
	height: 50px;

	background-color: var(--color-background);
    border: solid var(--color-text) 1px;

	text-align: center;
	margin: auto;
    justify-content: center;
}

[id^="letter"] {    
    border: solid var(--color-accent) 2px;
    margin: auto;
}

#wordle {
    display: flex;
    flex-direction: row;
    width: var(--width-board);

    margin-bottom: var(--margin-small);
}

.wrong-location {
	background-color: var(--color-wrong-location);
}

.correct {
	background-color: var(--color-correct);
}

.incorrect {
	background-color: var(--color-incorrect);
}

#delKey {
    width: 50px;
}

#example {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 50px;
}

/* Simple spin animation */
@keyframes spin {
    from {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Spin, grow in size, and increase opacity */
@keyframes spin-in {
    from {
        transform: rotate(25deg) scale(0.5);
        opacity: 0;
    }
    60% {
        transform: rotate(0deg);
        opacity: 1;
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* TODO [FEATURE]: Special animation for when the word is correctly guessed*/
@keyframes spin-in-victory {
    from {
        transform: rotate(25deg) scale(0.5);
        opacity: 0;
    }
    60% {
        transform: rotate(0deg);
        opacity: 1;
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes jump {
    50% {
        transform: translate(0%, -40%);
    }
}

@keyframes pulse {
20% {
    transform: scale(1.25);
  }

  30% {
    transform: scale(1.4);
  }

  45% {
transform: scale(1.25);
  }

  60% {
transform: scale(1.4);
  }

  80% {
transform: scale(1.25);
  }
}


@keyframes pulse-percent {
20% {
    width: 5%;
    height: 5%;
  }

  30% {
    width: 8%;
    height: 8%;
  }

  45% {
    width: 5%;
    height: 5%;
  }

  60% {
    width: 8%;
    height: 8%;
  }

  80% {
    width: 5%;
    height: 5%;
  }
}

/* Animations from other project */
@keyframes pulsing-circle {
20% {
    width: 25%;
    height: 25%;
  }

  30% {
    width: 28%;
    height: 28%;
  }

  45% {
    width: 25%;
    height: 25%;
  }

  60% {
    width: 28%;
    height: 28%;
  }

  80% {
    width: 25%;
    height: 25%;
  }
}

@keyframes orbit {
  0% { transform: translate(0%, 0%); }
  5% { transform: translate(0%, 0%); }
  25% { transform: translate(300%, 0%); }
  30% { transform: translate(300%, 0%); }
  50% { transform: translate(300%, 300%); }
  55% { transform: translate(300%, 300%); }
  75% { transform: translate(0%, 300%); }
  80% { transform: translate(0%, 300%); }
  100% { transform: translate(0%, 0%); }
}

@keyframes split-circles {
  /* Pause together*/
  5% { gap: -5px; }

  10% { gap: 0px; }
  20% { gap: 5px; }

  /* Pause */
  35% { gap: 15px; }
  65% { gap: 15px; }

  80% { gap: 5px; }
  90% { gap: 0px; }

  /* Back together */
  95% { gap: -5px; }
}

@keyframes morphing-circle-square {
  0% {
    border-radius: 50%;
  }

  25% {
    border-radius: 50%;
    background-color: darkred;
  }

  50% {
    border-radius: 0%;
    background-color: white;
    transform: rotate(0deg);
  }

  75% {
    border-radius: 0%;
    background-color: white;
    transform: rotate(90deg);
  }

  100% {
    border-radius: 50%;
    background-color: darkred;
    transform: rotate(90deg);
  }
}

/** KEYBOARD **/
/* Overall section */
#keyboard {

}

/* Each row of the keyboard */
[id^="keyboard-row-"] {
    flex-direction: row;
}

/* Each letter on the keyboard */
[id^="keyboard-letter-"] {
    /* TODO: Size, font, etc */
}