/* Styling that applies to the projects page */

:root {	
    /* Fonts */
    --mainFont: "Roboto";
    --headerFont: "Great Vibes";

	/* Colors */
    /* TODO: Update color palette */
    --primaryColor: white;
    --secondaryColor: black;
    --accentColor: rgb(110, 45, 175);
    --accentColor2: rgb(215, 215, 215);
	
	/* Add variables for consistent margins and padding */
	--smallMargin: 5px;
}

abbr {
	text-decoration: none;
}

* {
	color: var(--secondaryColor);
}

.WDD331, .projects{
	background-color: lightgrey;
	padding: 10px;
	margin: 10px 5px;
}

ul {
	margin: 0;
	margin-top: var(--smallMargin);
	margin-bottom: var(--smallMargin);
}

/***** Links *****/

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: white;
}

section a:hover {
	color: var(--accentColor);
}

.projects a:hover {
	color: var(--accentColor);
}



/***** Media Queries *****/
/* ToDo: Add responsiveness */
/* When the screen is a 'medium' size, 768px to 1024px*/
@media (min-width: 768px) {

}

/* When the screen is a 'large' size, 1024px or larger*/
@media (min-width: 1024px) {

}