/* Styling for the "Projects" page */

.projects {
	background-color: var(--accentGrey);
	padding: 10px;
	margin: 10px 5px;
}

ul {
	margin: 0;
	margin-top: var(--smallMargin);
	margin-bottom: var(--smallMargin);
}

.projects a:hover{
	color: var(--accentColor);
}

h3 {
    padding-left: 10px;
}

p {
    padding: 0;
    margin: 0;
    padding-left: 22px;
}